h1{
    color: blue;
    text-decoration: line-through;
}

body{
    background-color: rgb(151, 207, 207);
}

.box{
     height: 50px;
     width: 100px;
     border: 1px solid black;
     margin: 5px;
     text-align: center;
     background-color: blanchedalmond;
}